@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden !important;
    box-sizing: border-box;
    background: #F3F3F3;
}

header p {
    font-size: 12px !important;
    color: #828D9E !important;
}

footer p {
    font-size: 12px !important;
    color: #828D9E !important;
}

footer ul li a {
    color: #828D9E !important;
}

footer ul li:hover a {
    color: #4D7FB8 !important;
}

footer h3 {
    font-size: 12px !important;
}

p {
    color: #39393B !important;
    font-size: 16px !important;
}

/* Sub Heading */
header h2 {
    font-size: 14px !important;
}

h2 {
    font-size: 24px !important;
}

.image-box p {
    font-size: 14px !important;
    color: #828D9E !important;
}

.head-box p {
    font-size: 16px !important;
    color: #828D9E !important;
}

.box p {
    font-size: 14px !important;
    color: #828D9E !important;
}

.image-box h2 {
    font-size: 16px !important;
}

.copyright {
    border-top: 0.5px solid #9999998f;
}

.search-bar input {
    background-color: rgba(250, 250, 250, 0.73);
}

input {
    outline: none !important;
}

/*------------------- Mobile Menu -------------------*/
#mobile_menu {
    position: fixed;
    z-index: 2;
    left: 0;
    top: -120%;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.show_menu {
    top: 0 !important;
    height: 100% !important;
}

/*------------------- Account -------------------*/
#account_dropdown_menu {
    top: 47px;
    right: 10%;
    width: 315px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.show-account-dropdown-menu {
    visibility: visible !important;
    height: 215px !important;
}

/* ------------------- Modal --------------------- */
.modal_cntrl .bg-white {
    background: white !important;
}

.modal_cntrl button:hover {
    background: rgb(229 231 235) !important;
    color: black;
}

.rounded-lg .border-b {
    align-items: center !important;
}

.rounded-lg button {
    outline: none !important;
}

.modal_body input {
    outline: none !important;
    border: 1px solid #a1a1a1db;
    background: #fafafaba;
    color: #39393B !important;
}

.modal_body select {
    border: 1px solid rgba(161, 161, 161, 0.86);
    color: #39393B !important;
}

.modal_cntrl .max-w-lg {
    border-radius: 10px !important;
}